@model List<Product>

@section Footer {
    <p>only for Index Footer</p>
}

<body>

    @foreach (StoreApp.Models.Product prd in Model)
    {
        <partial name="_ProductCard" model="@prd"></partial>
    }
</body>

</html>
