@model List<Basic.Models.Employee>

<div class="display-3">
    Index3 
</div>

@foreach (Basic.Models.Employee emp in Model)
{
    <div class="lead my-2">
        <h6>
            @emp.FullName
        </h6>
        <p>@emp.Id</p>
        <p><strong>Age:</strong> @emp.Age</p>
        <hr/>
    </div>
}
